                        <tr class="d-flex">
                            <th id="bargainCount" scope="row" class="col-2"><%= data.bargain.valuePretty %></th>
                            <td class="col-5">

                                <select name="bargain" class="form-control form-control-sm"">
                                    <option value="0.255">Artisan 1</option>
                                    <option value="0.26">Artisan 2</option>
                                    <option value="0.265">Artisan 3</option>
                                    <option value="0.27">Artisan 4</option>
                                    <option value="0.275">Artisan 5</option>
                                    <option value="0.28">Artisan 6</option>
                                    <option value="0.285">Artisan 7</option>
                                    <option value="0.29">Artisan 8</option>
                                    <option value="0.295">Artisan 9</option>
                                    <option value="0.3" selected>Artisan 10</option>
                                    <option value="0.305">Master 1</option>
                                    <option value="0.31">Master 2</option>
                                    <option value="0.315">Master 3</option>
                                    <option value="0.32">Master 4</option>
                                    <option value="0.325">Master 5</option>
                                    <option value="0.33">Master 6</option>
                                    <option value="0.335">Master 7</option>
                                    <option value="0.34">Master 8</option>
                                    <option value="0.345">Master 9</option>
                                    <option value="0.35">Master 10</option>
                                    <option value="0.355">Master 1</option>
                                    <option value="0.36">Master 1</option>
                                    <option value="0.365">Master 1</option>
                                    <option value="0.37">Master 1</option>
                                    <option value="0.375">Master 1</option>
                                    <option value="0.38">Master 16</option>
                                    <option value="0.385">Master 17</option>
                                    <option value="0.39">Master 18</option>
                                    <option value="0.395">Master 19</option>
                                    <option value="0.4">Master 20</option>
                                    <option value="0.405">Master 21</option>
                                    <option value="0.41">Master 22</option>
                                    <option value="0.415">Master 23</option>
                                    <option value="0.42">Master 24</option>
                                    <option value="0.425">Master 25</option>
                                    <option value="0.43">Master 26</option>
                                    <option value="0.435">Master 27</option>
                                    <option value="0.44">Master 28</option>
                                    <option value="0.445">Master 29</option>
                                    <option value="0.45">Master 30</option>
                                </select>

                            </td>
                            <td id="bargainValue" class="col-2"><%= data.bargain.valuePretty %></td>
                            <td id="bargainBatch" class="col-3 text-end text-end"><%= data.bargain.batchPretty %></span></td>
                        </tr>