<head>
    <title>Crate List</title>
</head>

<div class="container">
    <div class="surface crate-index">
        <div id="crate-info">
            <h2 class="error"> Notice: </h2>
            <p><b class="error">CSS is broken on crate pages & ingot crates will redirect to this page.</b></p>
            <h2> Instructions: </h2>
            <p>Fill out the fields that aren't disabled. Any price fields will be filled out with values from the NA marketplace at time of load. If the API call for the value fails, it will default to 0. Once filled out, press "Calculate" to calculate the data.</p>
        </div>

        <div id="timber-crates">
            <h3 id="crate-heading">Timber Crates</h3>
            <hr>
            <ul>
                <li><a href="/crates/calc?crate=Balenos_Timber_Crate" method="GET">Balenos Timber Crate</a> <span>Made with ash & maple</span></li>
                <li class="alt"><a href="/crates/calc?crate=Calpheon_Timber_Crate" method="GET">Calpheon Timber Crate</a> <span>Made with birch, fir, & cedar</span></li>
                <li><a href="/crates/calc?crate=Mediah_Timber_Crate" method="GET">Mediah Timber Crate</a> <span>Made with white cedar & acacia</span></li>
                <li class="alt"><a href="/crates/calc?crate=Serendia_Timber_Crate" method="GET">Serendia Timber Crate</a> <span>Made with maple & pine</span></li>
            </ul>
        </div>
        <div id="ingot-crates">
            <h3 id="crate-heading">Ingot Crates</h3>
            <hr>
            <ul>
                <li><a href="/crates/" method="GET">Brass Ingot Crate</a> <span>Made with copper & zinc</span></li>
                <li class="alt"><a href="/crates/" method="GET">Bronze Ingot Crate</a> <span>Made with tin & copper</span></li>
                <li><a href="/crates/" method="GET">Mythril Ingot Crate</a> <span>Made with mythril</span></li>
                <li class="alt"><a href="/crates/" method="GET">Steel Ingot Crate</a> <span>Made with iron & coal</span></li>
                <li><a href="/crates/" method="GET">Titanium Ingot Crate</a> <span>Made with titanium</span></li>
                <li class="alt"><a href="/crates/" method="GET">Vanadium Ingot Crate</a> <span>Made with vanadium</span></li>
            </ul>
        </div>
    </div>
</div>