<head>
    <title>Crates</title>
</head>

<br>

<div class="container">
    <h2> Crate List </h2>
    <p>NOTE: This is still under construction. Only Serendia Crates work properly at the moment.</p>
    <ul>
        <li><a href="/crates/serendia">Serendia Crates</a></li>
    </ul>
</div>