<head>
    <title>Crate List</title>
</head>

<div class="container">
    <div class="surface crate-index">
        <div id="crate-info">
            <h2 class="error"> Notice: </h2>
            <p><b class="error">Ingot crates will redirect to this page.</b></p>
            <h2> Instructions: </h2>
            <p>Click on "NA" or "EU" based on your region. Fill out the fields that aren't disabled. Any price fields will be filled out with values from the NA marketplace at time of load. If the API call for the value fails, it will default to 0. Once filled out, press "Calculate" to calculate the data.</p>
        </div>

        <div id="timber-crates">
            <h3 id="crate-heading">Timber Crates</h3>
            <hr>
            <ul>
                <li>
                    <img src="img/timber-crate.png">
                    Balenos Timber Crate
                    <span><a class="btn" href="/crates/calc?crate=Balenos_Timber_Crate" method="GET">NA</a></span>
                </li>
                <li class="alt">
                    <img src="img/timber-crate.png">
                    Calpheon Timber Crate
                    <span><a class="btn" href="/crates/calc?crate=Calpheon_Timber_Crate" method="GET">NA</a></span>
                </li>
                <li>
                    <img src="img/timber-crate.png">
                    Mediah Timber Crate
                    <span><a class="btn" href="/crates/calc?crate=Mediah_Timber_Crate" method="GET">NA</a></span>
                </li>
                <li class="alt">
                    <img src="img/timber-crate.png">
                    Serendia Timber Crate
                    <span><a class="btn" href="/crates/calc?crate=Serendia_Timber_Crate" method="GET">NA</a></span>
                </li>
            </ul>
        </div>
        <div id="ingot-crates">
            <h3 id="crate-heading">Ingot Crates</h3>
            <hr>
            <ul>
                <li>
                    <img src="img/brass-ingot-crate.png">
                    Brass Ingot Crate
                    <span><a class="btn" href="/crates/" method="GET">NA</a></span>
                </li>
                <li class="alt">
                    <img src="img/bronze-ingot-crate.png">
                    Bronze Ingot Crate
                    <span><a class="btn" href="/crates/" method="GET">NA</a></span>
                </li>
                <li>
                    <img src="img/mythril-ingot-crate.png">
                    Mythril Ingot Crate
                    <span><a class="btn" href="/crates/" method="GET">NA</a></span>
                </li>
                <li class="alt">
                    <img src="img/noc-ingot-crate.png">
                    Noc Ingot Crate
                    <span><a class="btn" href="/crates/" method="GET">NA</a></span>
                </li>
                <li>
                    <img src="img/steel-ingot-crate.png">
                    Steel Ingot Crate 
                    <span><a class="btn" href="/crates/" method="GET">NA</a></span>
                </li>
                <li class="alt">
                    <img src="img/titanium-ingot-crate.png">
                    Titanium Ingot Crate
                    <span><a class="btn" href="/crates/" method="GET">NA</a></span>
                </li>
                <li>
                    <img src="img/vanadium-ingot-crate.png">
                    Vanadium Ingot Crate
                    <span><a class="btn" href="/crates/" method="GET">NA</a></span>
                </li>
            </ul>
        </div>
    </div>
</div>