<head>
    <title>Crates</title>
</head>

<br>

<div class="container">
    <div class="surface">
        <h2> Notice </h2>
        <p><b>This is still under construction.</b></p>

        <h3> Instructions: </h3>
        <p>Fill out the fields that aren't disabled. Any price fields will be filled out with values from the NA marketplace at time of load. If the API call for the value failes, it will default to 0. Once filled out, press "Calculate" to calculate the data.</p>

        <h2> Crate List: </h2>
        <ul>
            <li><a href="/crates/timber?crate=Balenos_Timber_Crate" method="GET">Balenos Timber Crate</a></li>
            <li><a href="/crates/timber?crate=Calpheon_Timber_Crate" method="GET">Calpheon Timber Crate</a></li>
            <li><a href="/crates/timber?crate=Mediah_Timber_Crate" method="GET">Mediah Timber Crate</a></li>
            <li><a href="/crates/timber?crate=Serendia_Timber_Crate" method="GET">Serendia Timber Crate</a></li>
        </ul>
    </div>
</div>