<%- include('_form_fields') %>
<br>

<style>
    .row {
  display: flex;
}

.column {
  flex: 50%;
}
</style>


<div class="container">
    <div class="row">
      <div class="col-sm">
        One of two columns
      </div>
      <div class="col-sm">
        One of two columns
      </div>
    </div>
  </div>

<!--<div class="row">
    <div class="column">
        Item Count | Ingredient | Cost Per | Total Cost
    </div>
    <div class="column">
        Item Count | Product | Value Per | Total Value
    </div>
</div>-->