<br>

<%- include("_form_fields") %>

<br>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <table class="table">
                <thead>
                    <tr class="d-flex">
                        <th scope="col" class="col-2">Count</th>
                        <th scope="col" class="col-5">Ingredient</th>
                        <th scope="col" class="col-2">Cost</th>
                        <th scope="col" class="col-3">Total Cost</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="d-flex">
                        <th id="bspCount" scope="row" class="col-2">1</th>
                        <td class="col-5">Black Stone Powder</td>
                        <td id="bspPrice" scope="row" class="col-2">0</td>
                        <td id="bspBatch" scope="row" class="col-3">0</td>
                    </tr>
                    <tr class="d-flex">
                        <th id="timberCount1" scope="row" class="col-2">40</th>
                        <td class="col-5">Maple Timber</td>
                        <td id="timberPrice1" class="col-2">0</td>
                        <td id="timberCount1" class="col-3">0</td>
                    </tr>
                    <tr class="d-flex">
                        <th id="timberCount2" scope="row" class="col-2">40</th>
                        <td class="col-5">Pine Timber</td>
                        <td id="timberPrice2" class="col-2">0</td>
                        <td id="timberPrice2" class="col-3">0</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm">
            <table class="table">
                <thead>
                    <tr class="d-flex">
                        <th scope="col" class="col-2">Count</th>
                        <th scope="col" class="col-5">Ingredient</th>
                        <th scope="col" class="col-2">Value</th>
                        <th scope="col" class="col-3">Batch Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="d-flex">
                        <th id="crateCount" scope="row" class="col-2">1</th>
                        <td class="col-5">Serendia Timber Crate</td>
                        <td id="crateValue" class="col-2">32,550</td>
                        <td id="crateBatch" class="col-3">0</td>
                    </tr>

                    <%- include("_form_bargain") %>


                    <tr class="d-flex">
                        <th scope="row" class="col-2"></th>
                        <td class="col-5">Ingredients Cost</td>
                        <td id="ingredientsCost" class="col-2">XXXX</td>
                        <td id="ingredientsBatch" class="col-3">XXXXXX</td>
                    </tr>
                    <tr class="d-flex">
                        <th scope="row" class="col-2"></th>
                        <td class="col-5">Total Profit</td>
                        <td id="profit" class="col-2">XXXXXXX</td>
                        <td id="batchProfit" class="col-3">XXXXXXXXX</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>