<header>
    <nav class="navbar">
        <div class="">
            <ul class="">
                <li>
                    <a class="nav-link" aria-current="page" href="/"><span>Home</span></a>
                </li>
                <li>
                    <a class="nav-link" href="/cooking"><span>Cooking</span></a>
                </li>
                <li>
                    <a class="nav-link" href="/processing"><span>Processing</span></a>
                </li>
                <li>
                    <a class="nav-link" href="/production"><span>Production</span></a>
                </li>
                <li class="floatright">
                    <a class="nav-link" href="/updates"><span>Updates</span></a>
                </li>
            </ul>
        </div>
    </nav>
</header>