<header>
    <nav class="navbar">
        <div class="">
            <ul class="">
                <li>
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li>
                    <a class="nav-link" href="/cooking">Cooking</a>
                </li>
                <li>
                    <a class="nav-link" href="/production">Production</a>
                </li>
                <li class="floatright">
                    <a class="nav-link" href="/updates">Updates</a>
                </li>
            </ul>
        </div>
    </nav>
</header>