<%- include('../partials/meta-sub-page.ejs') %>
    <title>Cooking List - Lamar's BDO Calculator</title>
</head>

<body>
<%- include('../partials/header.ejs') %>

<div class="container">
    <div class="surface production-index">
        <div id="production-info">
            <h2> Instructions: </h2>
            <p>Click on "NA" or "EU" based on your region. Fill out the fields that aren't disabled. Any price fields will be filled out with values from the NA marketplace at time of load. If the API call for the value fails, it will default to 0. Once filled out, press "Calculate" to calculate the data.</p>
        </div>

        <div id="timber-crates">
            <h3 id="crate-heading">Misc</h3>
            <hr>
            <ul>
                <li>
                    <img src="img/placeholder.png">
                    Essence of Liquor
                    <span><a class="btn" href="/cooking/calc?item=Essence_of_Liquor" method="GET">NA</a></span>
                </li>
            </ul>
        </div>
    </div>
</div>

</body>