<%- include('partials/meta-home.ejs') %>
    <title>Lamar's Crafting Site</title>
</head>

<body>

<%- include('partials/header.ejs') %>

<div class="hero">
    <video autoplay="" id="heroVideo" loop="" muted="">
        <source src="assets/webm/hero-looping-darker.webm">
    </video>
    <div class="hero-center">
        <h1>Lamar's Crafting Site</h1>
        <p>Ready to make crafting a breeze? You've come to the right place.</p>
        <form action="/cooking">
            <button class="hero-button" type="submit">Cooking</button>
        </form>
    </div>
</div>

</body>
</html>