<%- include('partials/meta-home.ejs') %>
    <title>Homepage</title>
</head>

<body>

<%- include('partials/header.ejs') %>

<div class="hero">
    <video autoplay="" id="heroVideo" loop="" muted="">
        <source src="assets/webm/hero-looping-darker.webm">
    </video>
    <div class="hero-center">
        <h1>The Art of Crafting</h1>
        <p>Ready to make crafting a breeze? You've come to the right place.</p>
        <form action="/production">
            <button class="hero-button" type="submit">Production</button>
        </form>
    </div>
</div>

</body>
</html>