/* Define color scheme */
:root {
    --background: #121212;
    --surface: #1e1e1e;
    --error: #cf6689;
    --primary: #bb86fc;
    --primary-var: #3700b3;
    --secondary: #03dac6;
    --font: rgba(204, 204, 204, 1);
    --font-secondary: rgba(204, 204, 204, .7);
    --font-disabled: rgba(204, 204, 204, .5);
}

/* ---------------------- */
/* Set global css & fonts */
/* ---------------------- */

body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--background);
    color: var(--font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
}

.navbar {
    background-color: var(--surface);
}

.surface {
    background-color: var(--surface);
    border-radius: 5px;
    padding: 15px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.container {
    padding-top: 1rem;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }

/* Link CSS */

a {
    color: var(--primary);
    text-decoration: none;
}

a:hover {
    color: var(--primary);
    text-decoration: underline;
}

a:visited {
    color: var(--primary);
    text-decoration: none;
}

/* Navbar CSS */

.navbar {
    margin-left: 0px;
    margin-left: 0px;
    width: 100%;
}

.navbar .brand {
    float: left;
    background-color: pink;
}

.navbar ul {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: var(--surface);
    list-style-type: none;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: var(--font);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.navbar li a:hover {
    background-color: #111;
}

.navbar .floatright {
    float: right;
}

/* Homepage + hero CSS */

.hero {
    width: auto;
    padding-left: 0;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: var(--background);
}

.hero-center {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    background-color: var(--primary);
    border-radius: 4px;
    color:#121212;
}

  /* Table CSS */

td {
    color: var(--font)
}

th {
    color: var(--font)
}

.error {
    color: var(--error);
}

/* Updates CSS */

.updates article {
    border-radius: 5px;
    background-color: var(--surface);
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 16px;
}

.updates .date {
    color: var(--font-secondary);
    line-height: 0%;
    font-size: smaller;
}

/* Crate Index grid-area definitions */

.crate-index #crate-info {
    grid-area: crate-info
}

.crate-index timber-crates {
    grid-area: timber-crates;
}

.crate-index ingot-crates {
    grid-area: ingot-crates;
}

/* -------------------- */
/* Viewport Breakpoints */
/* -------------------- */

/* Desktop Breakpoint */
@media screen and (min-width:1200px){
    body {background-color: yellow;}

    .updates {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-auto-flow: row;
    }

    .crate-index {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
          "crate-info crate-info"
          "timber-crates ingot-crates";
    }
}

/* Tablet Breakpoint */
@media screen and (min-width:768px) and (max-width: 1199px) {
    body {
        background-color: #03dac6;        
    }

    .updates {
        margin: auto;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
            "article"
    }
    .updates article {
        margin-left: 4rem;
        margin-right: 4rem;
    }

    .crate-index {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
          "crate-info crate-info"
          "timber-crates ingot-crates";
    }
}

/* Mobile Breakpoint */
@media screen and (max-width:767px){
    body {
        background-color: pink;
    }

    .updates {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "article";
    }

    .crate-index {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas:
          "crate-info"
          "timber-crates"
          "ingot-crates";
    }

}