/* Define color scheme */
:root {
    --background: #121212;
    --surface: #1e1e1e;
    --error: #cf6689;
    --primary: #bb86fc;
    --primary-var: #3700b3;
    --secondary: #03dac6;
    --font: rgba(204, 204, 204, 1);
    --font-secondary: rgba(204, 204, 204, .7);
    --font-disabled: rgba(204, 204, 204, .5);
}

/* ---------------------- */
/* Set global css & fonts */
/* ---------------------- */

body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--background);
    color: var(--font);
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
}
.navbar {
    background-color: var(--surface);
}

.surface {
    background-color: var(--surface);
    border-radius: 5px;
    padding: 15px;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Link CSS */

a {
    color: var(--primary);
    text-decoration: none;
}

a:hover {
    color: var(--primary);
    text-decoration: underline;
}

a:visited {
    color: var(--primary);
    text-decoration: none;
}

/* Homepage + hero CSS */

.hero {
    width: auto;
    padding-left: 0;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(/assets/hero-frame1.webp) no-repeat;
    background-size: cover;
}

.hero-center {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    background-color: var(--primary);
    border-radius: 4px;
    color:#121212;
  }

  /* Table CSS */

td {
    color: var(--font)
}

th {
    color: var(--font)
}