                        <tr>
                            <th id="bargainCount" scope="row" class="align-left"><%= data.userInput.bargain %></th>
                            <td>

                                <select name="bargain">
                                    <option value="0.255" <% if ( data.userInput.bargain == 0.255 ) { %> selected <%} %>>Artisan 1</option>
                                    <option value="0.26" <% if ( data.userInput.bargain == 0.26 ) { %> selected <%} %>>Artisan 2</option>
                                    <option value="0.265" <% if ( data.userInput.bargain == 0.265 ) { %> selected <%} %>>Artisan 3</option>
                                    <option value="0.27" <% if ( data.userInput.bargain == 0.27 ) { %> selected <%} %>>Artisan 4</option>
                                    <option value="0.275" <% if ( data.userInput.bargain == 0.277 ) { %> selected <%} %>>Artisan 5</option>
                                    <option value="0.28" <% if ( data.userInput.bargain == 0.28 ) { %> selected <%} %>>Artisan 6</option>
                                    <option value="0.285" <% if ( data.userInput.bargain == 0.285 ) { %> selected <%} %>>Artisan 7</option>
                                    <option value="0.29" <% if ( data.userInput.bargain == 0.29 ) { %> selected <%} %>>Artisan 8</option>
                                    <option value="0.295" <% if ( data.userInput.bargain == 0.295 ) { %> selected <%} %>>Artisan 9</option>
                                    <option value="0.3" <% if ( data.userInput.bargain == 0.3 || data.userInput.bargain == null) { %> selected <%} %>>Artisan 10</option>
                                    <option value="0.305" <% if ( data.userInput.bargain == 0.305 ) { %> selected <%} %>>Master 1</option>
                                    <option value="0.31" <% if ( data.userInput.bargain == 0.31 ) { %> selected <%} %>>Master 2</option>
                                    <option value="0.315" <% if ( data.userInput.bargain == 0.315 ) { %> selected <%} %>>Master 3</option>
                                    <option value="0.32" <% if ( data.userInput.bargain == 0.32 ) { %> selected <%} %>>Master 4</option>
                                    <option value="0.325" <% if ( data.userInput.bargain == 0.325 ) { %> selected <%} %>>Master 5</option>
                                    <option value="0.33" <% if ( data.userInput.bargain == 0.33 ) { %> selected <%} %>>Master 6</option>
                                    <option value="0.335" <% if ( data.userInput.bargain == 0.335 ) { %> selected <%} %>>Master 7</option>
                                    <option value="0.34" <% if ( data.userInput.bargain == 0.34 ) { %> selected <%} %>>Master 8</option>
                                    <option value="0.345" <% if ( data.userInput.bargain == 0.345 ) { %> selected <%} %>>Master 9</option>
                                    <option value="0.35" <% if ( data.userInput.bargain == 0.35 ) { %> selected <%} %>>Master 10</option>
                                    <option value="0.355" <% if ( data.userInput.bargain == 0.355 ) { %> selected <%} %>>Master 11</option>
                                    <option value="0.36" <% if ( data.userInput.bargain == 0.36 ) { %> selected <%} %>>Master 12</option>
                                    <option value="0.365" <% if ( data.userInput.bargain == 0.365 ) { %> selected <%} %>>Master 13</option>
                                    <option value="0.37" <% if ( data.userInput.bargain == 0.37 ) { %> selected <%} %>>Master 14</option>
                                    <option value="0.375" <% if ( data.userInput.bargain == 0.375 ) { %> selected <%} %>>Master 15</option>
                                    <option value="0.38" <% if ( data.userInput.bargain == 0.38 ) { %> selected <%} %>>Master 16</option>
                                    <option value="0.385" <% if ( data.userInput.bargain == 0.385 ) { %> selected <%} %>>Master 17</option>
                                    <option value="0.39" <% if ( data.userInput.bargain == 0.39 ) { %> selected <%} %>>Master 18</option>
                                    <option value="0.395" <% if ( data.userInput.bargain == 0.395 ) { %> selected <%} %>>Master 19</option>
                                    <option value="0.4" <% if ( data.userInput.bargain == 0.4 ) { %> selected <%} %>>Master 20</option>
                                    <option value="0.405" <% if ( data.userInput.bargain == 0.405 ) { %> selected <%} %>>Master 21</option>
                                    <option value="0.41" <% if ( data.userInput.bargain == 0.41 ) { %> selected <%} %>>Master 22</option>
                                    <option value="0.415" <% if ( data.userInput.bargain == 0.415 ) { %> selected <%} %>>Master 23</option>
                                    <option value="0.42" <% if ( data.userInput.bargain == 0.42 ) { %> selected <%} %>>Master 24</option>
                                    <option value="0.425" <% if ( data.userInput.bargain == 0.425 ) { %> selected <%} %>>Master 25</option>
                                    <option value="0.43" <% if ( data.userInput.bargain == 0.43 ) { %> selected <%} %>>Master 26</option>
                                    <option value="0.435" <% if ( data.userInput.bargain == 0.435 ) { %> selected <%} %>>Master 27</option>
                                    <option value="0.44" <% if ( data.userInput.bargain == 0.44 ) { %> selected <%} %>>Master 28</option>
                                    <option value="0.445" <% if ( data.userInput.bargain == 0.445 ) { %> selected <%} %>>Master 29</option>
                                    <option value="0.45" <% if ( data.userInput.bargain == 0.45 ) { %> selected <%} %>>Master 30</option>
                                </select>

                            </td>
                            <td id="bargainValue" class="align-right"><%= data.profit.bargainValue %></td>
                            <td id="bargainBatch" class="align-right"><%= data.profit.bargainBatch %></span></td>
                        </tr>