<%- include('../partials/meta-sub-page.ejs') %>
    <title>Updates - Lamar's Crafting Site</title>
</head>
<body>

<%- include('../partials/header.ejs') %>
    
<div class="container">
    <div class="updates" id="test">
        <article id="article">
            <h2 itemprop="title"> BDOCrafting Calculator v0.6.1</h2>
            <p class="date" itemprop="pubdate" datetime="2021-05-15">May 15, 2021</p>
            <h3>Changes & Additions</h3>
            <ul>
                <li>Added the ability to buy specific parts of recipes</li>
                <li>Updated CSS for the check boxes</li>
                <li>Added a few missing items to the price list</li>
            </ul>
            <p>
                Next up will likely be guru crates.
            </p>
        </article>
        <article id="article">
            <h2 itemprop="title"> BDOCrafting Calculator v0.6.0</h2>
            <p class="date" itemprop="pubdate" datetime="2021-05-14">May 14, 2021</p>
            <h3>Changes & Additions</h3>
            <ul>
                <li>Added a crafting section with all of plywood and ingots</li>
                <li>Migrated most assets to a CDN.</li>
                <li>Switched from Heroku to Digital Ocean</li>
            </ul>
            <h3>Bug fixes</h3>
            <ul>
                <li>Fixed ingredient cost not being calculated properly.</li>
            </ul>
        </article>
        <article id="article">
            <h2 itemprop="title"> BDOCrafting Calculator v0.5.1</h2>
            <p class="date" itemprop="pubdate" datetime="2021-05-10">May 10, 2021</p>
            <h3>Changes & Additions</h3>
            <ul>
                <li>Added all meals and their sub recipes</li>
                <li>Added grilled bird meat</li>
                <li>Dried fish price fetching</li>
                <li>Added a fixed price for wolf meat</li>
            </ul>
            <p>
                Next up will likely be a way to buy specific items from the market like red sauce, cheese, and cream.
            </p>
        </article>
        <article id="article">
            <h2 itemprop="title"> BDOCrafting Calculator v0.5.0</h2>
            <p class="date" itemprop="pubdate" datetime="2021-05-09">May 9, 2021</p>
            <h3>Changes & Additions</h3>
            <ul>
                <li>Converted the index pages to searchable lists of all of the craftable items</li>
                <li>Added a cooking section with a few recipes for testing</li>
                <li>Implemented a few cooking recipes and a system to pull prices for bulk cooking items</li>
            </ul>
            <p>
                Not everything works properly in the cooking section, but the majority of the features <i>appear</i> to work properly.
            </p>
        </article>
        <article id="article">
            <h2 itemprop="title">Lamar's BDO Calculator v0.4.1</h2>
            <p class="date" itemprop="pubdate" datetime="2021-05-06">May 6, 2021</p>
            <h3>Changes & Additions</h3>
            <ul>
                <li>Made changes to the backend to make adding non-crate items easier</li>
                <li>Added advaned cooking utensils & advanced alchemy tools</li>
            </ul>
            <p>
                Once the common production items have been added, I'll begin work on implementing meals and common cooking items followed by crates.
            </p>
        </article>
        <article id="article">
            <h2 itemprop="title">Lamar's BDO Calculator v0.4.0</h2>
            <p class="date" itemprop="pubdate" datetime="2021-05-05">May 5, 2021</p>
            <h3>Changes & Additions</h3>
            <ul>
                <li>Added a material tree that lists all of the materials needed to craft the selected item</li>
                <li>Reworked CSS for the crate page to accomdiate for this page</li>
                <li>Values are now persistent between form submissions</li>
            </ul>
        </article>
        <article id="article">
            <h2 itemprop="title">Lamar's BDO Calculator v0.3.0</h2>
            <p class="date" itemprop="pubdate" datetime="2021-05-04">May 4, 2021</p>
            <h3>Changes & Additions</h3>
            <ul>
                <li>Added proc calculator for timber crates</li>
                <li>Added the ability to fetch proc item prices</li>
                <li>Added icons to the crate index page</li>
            </ul>
        </article>
        <article id="article">
            <h2 itemprop="title">Lamar's BDO Calculator v0.2.1</h2>
            <p class="date" itemprop="pubdate" datetime="2021-04-29">April 29, 2021</p>
            <h3>Changes & Additions</h3>
            <ul>
                <li>Removed bootstrap from the website infavor of custom CSS</li>
                <li>Converted the website from a blinding website to a dark website</li>
                <li>Added breakpoints for tablet and phone views if you want to use a phone for some reason?</li>
                <li>Added all money crates</li>
            </ul>
        </article>
        <article id="article">
            <h2 itemprop="title">Lamar's BDO Calculator v0.2.0</h2>
            <p class="date" itemprop="pubdate" datetime="2021-02-23">February 24, 2021</p>
            <h3>Changes & Additions</h3>
            <ul>
                <li>Migrated from hard coded values to dynamic code so more than three crates can be added</li>
                <li>Added Calpheon and Mediah timber crates</li>
            </ul>
        </article>
        <article id="article">
            <h2 itemprop="title">Lamar's BDO Calculator v0.1.0</h2>
            <p class="date" itemprop="pubdate" datetime="2021-02-22">February 22, 2021</p>
            <h3>Changes & Additions</h3>
            <ul>
                <li>Added Balenos & Serendia timber crates</li>
            </ul>
            <p>
                This is the initial release with the bare minimum of working features. However, all values are hard coded as a proof of concept which makes scaling the website extremely difficult. Prices are gathered from the North American marketplace automatically every 15 minutes.
            </p>
        </article>

        <!-- Template because I'm lazy -->
        <!-- 
        <article id="article">
            <h2 itemprop="title"> BDOCrafting Calculator v0.X</h2>
            <p class="date" itemprop="pubdate" datetime="2021-MM-DD">February 22, 2021</p>
            <p>
                Text Here
            </p>
        </article>
        -->

    </div>
</div>

</body>