<head>
    <title>Updates</title>
</head>

<div class="container">
    <div class="updates" id="test">
        <article id="article">
            <h2 itemprop="title">BDO Crafting Calculator v0.4</h2>
            <p class="date" itemprop="pubdate" datetime="2021-04-27">April 27, 2021</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae sagittis metus. Nulla tortor neque, viverra eget dictum sed, tincidunt eget elit. Praesent sollicitudin orci eget volutpat cursus. Praesent egestas sem ante. Fusce condimentum, velit eu mollis suscipit, tortor orci pellentesque magna, vel ornare nulla felis in leo. Ut iaculis dolor neque. Etiam faucibus ante sed luctus iaculis. Aenean at porta purus. Phasellus convallis ex ac bibendum rhoncus. Aliquam auctor eros sed libero venenatis, vel eleifend lacus ullamcorper. Phasellus id nibh rhoncus, lobortis odio ac, interdum ligula. Duis ac lacus est. Vestibulum sit amet dictum urna. Proin sit amet ligula ut nisl tempor ullamcorper vitae pretium augue. Mauris convallis in dui et consequat. Nunc congue ipsum id urna mattis finibus.
            </p>
        </article>
        <article id="article">
            <h2 itemprop="title">BDO Crafting Calculator v0.3</h2>
            <p class="date" itemprop="pubdate" datetime="2021-04-27">April 27, 2021</p>
            <p>
                Cras nec tempus augue, vitae molestie turpis. Nulla posuere tempor fermentum. Nunc fringilla sollicitudin iaculis. Proin luctus luctus diam sit amet tincidunt. Sed ac quam sit amet enim malesuada euismod vel porta tellus. Aenean at iaculis enim, at accumsan nisi. Aliquam erat volutpat. Proin consequat mi non viverra porttitor. Nam sed purus sollicitudin, lacinia dui id, blandit mi.
            </p>
        </article>
        <article id="article">
            <h2 itemprop="title">BDO Crafting Calculator v0.2</h2>
            <p class="date" itemprop="pubdate" datetime="2021-04-27">April 27, 2021</p>
            <p>
                Aenean pretium rhoncus sem. Nam consectetur diam vel finibus vestibulum. Morbi nibh urna, bibendum ut dolor facilisis, pellentesque porta lorem. Mauris dapibus, nulla eu pulvinar rutrum, risus dui laoreet metus, et consequat dolor risus et ligula. Vestibulum quis mi arcu. Praesent tincidunt dolor erat, non hendrerit mauris vestibulum eu. Sed tortor tellus, feugiat et facilisis sed, sollicitudin ut justo. Fusce vitae laoreet ligula, et commodo lacus. Pellentesque pharetra nulla nec quam dictum, ac viverra enim dignissim. Praesent vel tellus libero.
            </p>
        </article>
        <article id="article">
            <h2 itemprop="title">BDO Crafting Calculator v0.1</h2>
            <p class="date" itemprop="pubdate" datetime="2021-04-27">April 27, 2021</p>
            <p>
                Etiam hendrerit tincidunt ante placerat vulputate. Ut porta aliquam nunc quis accumsan. Donec facilisis magna eu mattis tincidunt. Cras id sapien nisl. Fusce feugiat lacus non vestibulum vehicula. Duis interdum efficitur nisl. Fusce urna massa, condimentum ac porttitor fermentum, pellentesque sed magna. Aenean laoreet mauris quis massa cursus, a rutrum tortor gravida. Quisque interdum felis vitae lobortis scelerisque. Maecenas sagittis, velit et lobortis volutpat, ipsum ligula semper sem, efficitur vulputate mauris mi eu eros. Donec et leo in arcu ullamcorper vehicula vel bibendum mauris.
            </p>
        </article>
    </div>
</div>