<%- include('../partials/meta-sub-page.ejs') %>
    <title>Updates</title>
</head>
<body>

<%- include('../partials/header.ejs') %>
    
<div class="container">
    <div class="updates" id="test">
        <article id="article">
            <h2 itemprop="title">BDO Crafting Calculator v0.2.1</h2>
            <p class="date" itemprop="pubdate" datetime="2021-04-29">April 29, 2021</p>
            <p>
                Removed bootstrap from the website in favor of custom CSS. With this release, a dark mode was introduced using Google's material design colors for styling as well as a more readable table on the crate calculator pages. This release also included a mobile friendly design for anyone who happens to be using this website on a phone or a tablet.
            </p>
            <p>
                All of the Ingot crates were added to the crate index as well, however, these are only place holder links and do not do anything at the moment aside from linking back to the crate index.
            </p>
        </article>
        <article id="article">
            <h2 itemprop="title">BDO Crafting Calculator v0.2.0</h2>
            <p class="date" itemprop="pubdate" datetime="2021-02-23">February 24, 2021</p>
            <p>
                Added dynamic code for crates which makes adding new crates extremely easy. This includes the addition of Calpheon and Mediah timber crates on the website.
            </p>
        </article>
        <article id="article">
            <h2 itemprop="title">BDO Crafting Calculator v0.1.0</h2>
            <p class="date" itemprop="pubdate" datetime="2021-02-22">February 22, 2021</p>
            <p>
                Initial release with the bare minimum of working features. Currently, only the Serendia timber crate and Balenos timber crate work, however, all values are hard coded as a proof of concept which makes scaling the website extremely difficult. However, prices are gathered from the North American marketplace automatically.
            </p>
        </article>
    </div>
</div>

</body>