<head>
    <title>Updates</title>
</head>

<div class="container">
    <div class="updates">
        <article>
            <h2 itemprop="title">BDO Crafting Calculator v0.4</h2>
            <p class="date" itemprop="pubdate" datetime="2021-04-27">April 27, 2021</p>
            <p>
                Sample Text
            </p>
        </article>
        <article>
            <h2 itemprop="title">BDO Crafting Calculator v0.3</h2>
            <p class="date" itemprop="pubdate" datetime="2021-04-27">April 27, 2021</p>
            <p>
                Sample Text
            </p>
        </article>
        <article>
            <h2 itemprop="title">BDO Crafting Calculator v0.2</h2>
            <p class="date" itemprop="pubdate" datetime="2021-04-27">April 27, 2021</p>
            <p>
                Sample Text
            </p>
        </article>
        <article>
            <h2 itemprop="title">BDO Crafting Calculator v0.1</h2>
            <p class="date" itemprop="pubdate" datetime="2021-04-27">April 27, 2021</p>
            <p>
                Sample Text
            </p>
        </article>
    </div>
</div>