<%- include('../partials/meta-sub-page.ejs') %>
    <title>Updates</title>
</head>
<body>

<%- include('../partials/header.ejs') %>
    
<div class="container">
    <div class="updates" id="test">
        <article id="article">
            <h2 itemprop="title"> BDOCrafting Calculator v0.4.1</h2>
            <p class="date" itemprop="pubdate" datetime="2021-05-06">May 6, 2021</p>
            <p>
                Added advanced cooking utensils and advanced alchemy tools after making some changes to the backend. With these changes, it seems like adding new items will be a breeze. Once the common production items have been added, I'll begin work on implementing meals and common cooking items followed by crates.
            </p>
        </article>
        <article id="article">
            <h2 itemprop="title"> BDOCrafting Calculator v0.4.0</h2>
            <p class="date" itemprop="pubdate" datetime="2021-05-05">May 5, 2021</p>
            <p>Added a materials tree that lists all of the items needed to craft the selected item and includes an image of that item in the tree. This appears to be working fine for both timber and ingot crates. The CSS was also reworked for the crate page to accomdiate for this change. All values should now be persistent between page submissions.</p>          
        </article>
        <article id="article">
            <h2 itemprop="title"> BDOCrafting Calculator v0.3.0</h2>
            <p class="date" itemprop="pubdate" datetime="2021-05-04">May 4, 2021</p>
            <p>
                Added proc calculation for timber crates, along with the ability to fetch prices for proc items. Ingot crates were also added and appear to be functioning properly. Icons were also added to the crate index to help determine what crate you're looking at at a glance, aside from timber crates since they all share the same icon.
            </p>
        </article>
        <article id="article">
            <h2 itemprop="title">BDO Crafting Calculator v0.2.1</h2>
            <p class="date" itemprop="pubdate" datetime="2021-04-29">April 29, 2021</p>
            <p>
                Removed bootstrap from the website in favor of custom CSS. With this release, a dark mode was introduced using Google's material design colors for styling as well as a more readable table on the crate calculator pages. This release also included a mobile friendly design for anyone who happens to be using this website on a phone or a tablet.
            </p>
            <p>
                All of the Ingot crates were added to the crate index as well, however, these are only place holder links and do not do anything at the moment aside from linking back to the crate index.
            </p>
        </article>
        <article id="article">
            <h2 itemprop="title">BDO Crafting Calculator v0.2.0</h2>
            <p class="date" itemprop="pubdate" datetime="2021-02-23">February 24, 2021</p>
            <p>
                Added dynamic code for crates which makes adding new crates extremely easy. This includes the addition of Calpheon and Mediah timber crates on the website.
            </p>
        </article>
        <article id="article">
            <h2 itemprop="title">BDO Crafting Calculator v0.1.0</h2>
            <p class="date" itemprop="pubdate" datetime="2021-02-22">February 22, 2021</p>
            <p>
                Initial release with the bare minimum of working features. Currently, only the Serendia timber crate and Balenos timber crate work, however, all values are hard coded as a proof of concept which makes scaling the website extremely difficult. However, prices are gathered from the North American marketplace automatically.
            </p>
        </article>

        <!-- Template because I'm lazy -->
        <!-- 
        <article id="article">
            <h2 itemprop="title"> BDOCrafting Calculator v0.X</h2>
            <p class="date" itemprop="pubdate" datetime="2021-MM-DD">February 22, 2021</p>
            <p>
                Text Here
            </p>
        </article>
        -->

    </div>
</div>

</body>